.topnav {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 100px;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0px 5px 15px 0px #1c3c5e48;
    padding:10px;
}

.navlogo {
    height: 70px;
    font-size: 40px;
    margin-left: 10px;
    padding-left: 10px;

}

.navItem {
    display: inline;
    justify-content: center;
    margin: 10px;

}


.navItem a{
    color: #1c3c5e;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

#cart {
    margin-right: 10px;
}

.topnav a:hover {

    color: #b80a14;
   
  
  }

/* Hide the link that should open and close the topnav on small screens */
